target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

mvnw
mvnw.cmd
.idea/
.mvn/
target/

src/main/client/node_modules/
src/main/resources/static/
src/main/resources/templates/
