<mat-card>
    <mat-card-content>
        <mat-grid-list [cols]="cols | async" rowHeight="1:1" gutterSize="15px" style="margin: 50px">
            <mat-grid-tile *ngFor="let item of tiles">
                <!--</mat-card>-->
                <div class="card">
                    <div class="image-container">
                        <img src="{{item.link}}" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                            <div class="text">Reservation</div>
                            <div class="bottom-right">up to 11.07.2018</div>
                        </div>
                    </div>
                    <div class="container">
                        <!--<a >Dashboard</a>-->
                        <!--<a> </a>-->
                        <h2 routerLink="/film/{{item.id}}" style="cursor: pointer">{{item.text}}</h2>
                        <!--<p class="title">CEO & Founder</p>-->
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>