<mat-toolbar color="#333" class="topnav">
  <span>
    <!--<img mat-card-avatar src="./assets/images/cinema.svg" class="angular-logo">-->
    <h1 style="font-family: -webkit-pictograph,serif; color: #ececec;
    margin-top: 5px; font-size: 25px;">Country Cinema</h1>
  </span>
    <!--<span>-->
    <!--<img mat-card-avatar src="./assets/images/cinema.svg">-->
    <!--Country Cinema-->
    <!--</span>-->

    <!--<span style="margin: 2px">-->
    <!--<img src="./assets/images/cinema.svg" align="center" style="height: 50px">-->
    <!--</span>-->

    <mat-nav-list class="fill-space">
        <a routerLink="/dashboard" style="font-family: -webkit-pictograph,serif;font-size: 19px;">Dashboard</a>
        <a routerLink="login" style="font-family: -webkit-pictograph,serif;font-size: 19px;">Settings</a>
    </mat-nav-list>

    <input type="text" placeholder="Search">
</mat-toolbar>